{% extends "dreamcode/base.html" %}
{% load i18n markup_tags sekizai_tags dreamcode_tags admin_urls %}


{% block header %}{% endblock header %}

{% block content %}
<h1>{{ contest.name }}</h1>

{# cps = contest participant score #}
{% for cps in scores %}
<h3>{% trans "User: " %}{{ cps.contestant }}
    {% if not cps.isTested %}
        <br/>{% trans "Testing in progress" %}<br/>
    {% else %}
        <br/>{% trans "Final result" %}<br/>
    {% endif %}
    {% trans "Score" %}<small>({{ cps.total_score }}/{{ contest.get_max_score }})</small><br/>
</h3>

<table border="1">
  <thead>
    <tr>
      <th>{% trans "Result" %}</th>
      <th>{% trans "Problem" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for problem , submission , score in cps.problem_scores %}
    <tr>
      <td>
      {% if submission and score.isTested %}
          ({{ score.score }}/{{ problem.max_score }})
      {% elif sumission %}
          {% trans "Pending" %}
      {% else %}
          {% trans "Not submitted" %}
      {% endif %}
      </td>
      <td>
          {% if submission %}
              <a href="{% url 'problem_report' problem.slug %}?user_id={{ cps.contestant.id }}">{% trans "Report: " %}{{ problem.name }}</a>
          {% else %}
              <a href="{% url 'problem' problem.slug %}">{% trans "Problem: " %}{{ problem.name }}</a>
          {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}

{% endblock content %}
