{% extends "dreamcode/base.html" %}
{% load i18n markup_tags sekizai_tags crispy_forms_tags dreamcode_tags%}
{% load staticfiles %}

{% block header %}{% endblock header %}

{% block content %}

    {{ submission_form.media }}
    {{ problem_statement_form.media }}
    {{ problem_template_form.media }}


    <h2>{{ problem.name }}</h2>
    <a href="{% url "submission_results" problem.slug %}">Submission</a>

{#    {% crispy problem_problem_form %}#}
{#    {% crispy problem_template_form %}<br/>#}
    {% crispy submission_form %} <br/>

    <h2>{% trans "Sample test cases" %}</h2>
    {% for tc in public_test_cases %}
        <h2>{% trans "Test Case" %}</h2>
        <h3>{% trans "Input" %}</h3>
        <pre><code>{{ tc.get_input }}</code></pre>
        <h3>{% trans "Output" %}</h3>
        <pre><code>{{ tc.get_output }}</code></pre>
    {% endfor %}
{% endblock content %}
