{% extends "dreamcode/base.html" %}
{% load i18n markup_tags sekizai_tags dreamcode_tags admin_urls %}


{% block header %}{% endblock header %}

{% block content %}
{% if request.user != user %}<h1>{{ user }}</h1>{% endif %}

<h2>{{ problem.name }}</h2>
<h3>
    {% if submission and score.isTested %}
        {% trans "Result: " %}({{ submission.get_score }}/{{ problem.max_score }})
    {% elif submission %}
        {% trans "Pending" %}
    {% else %}
        {% trans "No submissions" %}>
    {% endif %}
</h3>

<h2>{% trans "Statement: " %}</h2>
<h3>{{ problem.statement }}</h3>

{% if submission %}
  <h2>{% trans "Code" %}</h2>
  <div id="code">
      {{ submission.code }}
  </div>
{% endif %}
{% endblock content %}
