{% load sekizai_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}DreamCode{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'dreamcode/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">DreamCode</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">

        </div>

    </div>
</nav>

<div class="container">
    <div class="container">
        <div class="row">
            {#            <div class="col-sm-2">#}
            {#                {% block sidebar %}#}
            {#                    <ul class="sidebar-nav">#}
            {#                    <li><a href="{% url 'index' %}">Home</a></li>#}
            {#                    <li><a href="">Contests</a></li>#}
            {#                    <li><a href="">Problems</a></li>#}
            {#                    </ul>#}
            {#                {% endblock %}#}
            {#            </div>#}
            <div class="col-sm-10 ">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
</div>

{#{% block content %}{% endblock content %}#}

<script type="text/javascript" src="{{ STATIC_URL }}dreamcode/lib/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}dreamcode/lib/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}dreamcode/lib/jsdifflib/diffview.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}dreamcode/lib/jsdifflib/difflib.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}dreamcode/js/dreamcode.js"></script>
{% render_block 'js' %}

</body>

</html>
